

.successOverlay{
    position: fixed;
    background-color: rgba(217, 217, 217, 0.4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
}

.success{
    width: 292px;
    height: 207px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #02040F;
    border-radius: 32px;
    padding: 36px 40px 33px 41px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 5;
    border: 1px solid #64FFFF ;
    gap: 18px;
    transform: translate(-50%, -50%);
}

.success h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #64FFFF ;
}

.success p{
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.success button{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    width: 104px;
    height:29px;
    color: #02040F;
    border-radius: 18px;
    background-color: #64FFFF ;
    box-shadow:rgba(100, 255, 255, 0.5)3.95px 3.95px 0.6px;
    position: relative;
    border: none;
    z-index: 2;
    margin-top: 31px;
}