

.free{
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 37px;
}


.free  .freeItem{
    border-radius: 23px;
    padding: 11px 10px 2px 53px;
    background-color: rgba(217, 217, 217, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.freeItem h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #F9F7F7;
}

.freeItem p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(249, 247, 247, 0.7);
    font-family: "Instrument Sans", serif;
    letter-spacing: -0.3px;
    margin: 0;
    margin-top: 2px;
}

.freeItem button{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    width: 101px;
    height: 26px;
    color: #02040F;
    border-radius: 18px;
    background-color: rgba(175, 252, 180, 1);
    /* box-shadow:rgba(175, 252, 180, 0.5) 3.95px 3.95px 0.6px; */
    position: relative;
    border: none;
    z-index: 2;
    margin-left: 23px;
}