.logoAnimation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .loadingVideo {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
