


.boostPage{
    margin-top: 48px;
    padding-bottom: 150px;
}


.boostPage .boostPageSuccess{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 8px;
}


.boostPageSuccess p{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #F9F7F7;
}


.boostPage .boostPageContent{
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 30px;
}


.boostPageContent .boostItem{
    position: relative;
    background-color: rgba(217, 217, 217, 0.2);
    border-radius: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 22px 2px 53px;
}


.boostItem .boostDoubling{
    border-radius: 5px;
    width: 22px;
    height: 22px;
    border:1px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #02040F;
    background-color: #FFFFFF;
    position: absolute;
    top: 26px;
    left: 14px;
    z-index: 2;
}



.boostItem .boostItemText{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 180px;
}

.boostItem .boostItemText h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #F9F7F7;
}

.boostItem .boostItemText p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.3px;
    color: rgba(249, 247, 247, 0.7);
    margin: 0;
}

.boostItem .boostPrice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    flex-direction: column;
}


.boostPrice div{
    display: flex;
    align-items: center;
    gap: 4px;
}


.boostItem .boostPrice p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.3px;
    color: rgba(249, 247, 247, 0.7);
    margin: 0;
}

.boostItem  button{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    width: 91px;
    height:26px;
    color: #02040F;
    border-radius: 18px;
    background-color: #64FFFF ;
    border: none;
    z-index: 2;
}

.boostItem .rocket{
    position: absolute;
    left: -2px;
    top: -7px;
    z-index: 2;
}