

.mining{
    border-radius: 23px;
    padding: 20px 12px 14px 13px;
    background-color: rgba(159, 160, 172, 0.2);
    margin-top: 14px;
}

.mining .miningText{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #F9F7F7;
    margin: 0;
}

.mining .squares{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    z-index: 2;
    margin-top: 22px;
}

.mining .squares .squareItem{
    width: 33px;
    height: 30px;
    background-color: #64FFFF ;
    border: 1px solid #64FFFF ;
    border-radius: 6px;
}


.mining .miningTime{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 12px;
}

.miningTime span{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #F9F7F7;
}

.miningTime span:nth-child(1){
    font-family: "Instrument Sans", serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #F9F7F7;
}

.mining .miningCompleted{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}


.miningCompleted .squareCompleted img{

}


.miningCompleted .squareCompleted .completedText{

}

.miningCompleted .completedText p{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
}






.mining .miningCompleted button{
    font-weight: 700;
    font-size: 16px;
    color: #02040F;
    line-height: 20px;
    width: 101px;
    height: 26px;
    border-radius: 18px;
    background: linear-gradient(to right, #3F4050, #D5D7E9, #424459);
    position: relative;
    border: none;
    z-index: 2;
}


.mining .miningCompleted button::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(to right, #3F4050, #D5D7E9, #424459);
    z-index: -1;
    border-radius: inherit;
    filter: blur(10px);
}